<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="e.l2040.truecuts">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".SendNotificationPack.MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
        </activity>

        <activity
        android:name=".Search"
            android:screenOrientation="portrait"/>

        <activity android:name=".ResetPassword"
            android:screenOrientation="portrait"/>

        <activity android:name=".BarberOrNot"
            android:screenOrientation="portrait"/>

        <activity android:name=".CreateAccount"
            android:screenOrientation="portrait"/>

        <activity android:name=".Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        </activity>
        <activity android:name=".BarberDetails"
            android:screenOrientation="portrait"/>

        <activity android:name=".BookAppointment"
            android:screenOrientation="portrait"/>

        <activity android:name=".BarberHome"
            android:screenOrientation="portrait"/>

        <activity android:name=".ChangeBarberShop"
            android:screenOrientation="portrait"/>

        <activity android:name=".Appointments"
            android:screenOrientation="portrait"/>

        <activity android:name=".AppointmentsDetails"
            android:screenOrientation="portrait"/>

        <activity android:name=".AppointmentWithCustomer"
            android:screenOrientation="portrait"/>

        <activity android:name=".AppointmentWithCustomerDetails"
            android:screenOrientation="portrait"/>
    </application>



</manifest>